@model KuzinShop.Models.ViewModels.RegisterViewModel

<h2>Регистрация</h2>
<form asp-controller="Account" asp-action="Register" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="FirstName" class="form-label">Имя</label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="LastName" class="form-label">Фамилия</label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Login" class="form-label">Логин</label>
        <input asp-for="Login" class="form-control" />
        <span asp-validation-for="Login" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label">Пароль</label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    @* <div class="mb-3">
        <label asp-for="Role" class="form-label">Роль</label>
        <select asp-for="Role" class="form-control">
            <option value="User">Пользователь</option>
            <option value="Admin">Администратор</option>
        </select>
        <span asp-validation-for="Role" class="text-danger"></span>
    </div> *@

    <button type="submit" class="btn btn-success">Зарегистрироваться</button>
</form>

Уже в системе? <a href="/Account/Login">Логин</a>